@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    font-family: 'sans-serif';
    text-align: center;
    background-color: rgb(1, 31, 75);
    color: white;
}

button {
    background-color: transparent;
    color: white;
}

#clockTime {
    font-family: 'Permanent Marker', sans-serif;
}

/* accent-color switches input range color */
#progressBar {
    width: 50%;
}